.recursive details + details,
.recursive details + div {
  margin-top: 8px;
}

.recursive details summary {
  cursor: pointer;
  font-weight: bold;
}

.recursive details .content {
  margin-left: 16px;
}